body {
    padding-top: 20px;
    background: #222222;
}

main {
    display: grid;
    background: #222222;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

main > article {
    color: white;
    font-size: 20px;
    padding: 20px;
}

#item1 {
    background: #b03532;
}

#item2 {
    background: #33a8a5;
}

#item3 {
    background: #30997a;
}

#item4 {
    background: #6a478f;
}

#item5 {
    background: #da6f2b;
}

#item6 {
    background: #3d8bb1;
}

#item7 {
    background: #e03f3f;
}

#item8 {
    background: #59a627;
}
